<li *ngFor="let player of playerProps" class="starter right" [ngClass]="{'captain': player.captain }">
    <span class="starter__captain" *ngIf="player.captain">CPT</span>
    <span [ngClass]="{'starter__sent-off': player.redCard, 'subbed__true': player.subbed}">
        {{player.name}}
    </span>
    <span class="fx_x-b_y-c"
        [ngClass]="{'symbol__goal-team-two': player.goals, 'hidden': !player.goals, 'hat-trick': player.goals >= 3}">
        {{player.goals > 1 ? player.goals : null}}
        <i title="{{player.name}} scored {{player.goals}} goal/s" [ngClass]="{'hat-trick': player.goals >= 3}"
            class="fa-solid fa-futbol"></i>
    </span>
    <span class="fx_x-b_y-c" [ngClass]="{'symbol__save-team-two': player.saves, 'hidden': !player.saves}">
        <i title="{{player.name}} saved {{player.saves}} penalty/s" class="fa-solid fa-hand-dots"></i>
        {{player.saves > 1 ? player.saves : null}}
    </span>
    <span class="fx_x-c_y-c" title="{{player.name}} red carded"
        [ngClass]="{'symbol__red-card-team-two': player.redCard, 'hidden': !player.redCard}">
    </span>
    <span class="fx_x-c_y-c" title="{{player.name}} given {{player.yellowCards}} yellow card/s"
        [ngClass]="{'symbol__yellow-cards-team-two': player.yellowCards, 'hidden': !player.yellowCards}">
        {{player.yellowCards}}
    </span>
    <span class="starter__position right" [title]="player.motm ? 'Man of the match: ' + player.name : ''" [ngClass]="{'is__motm': player.motm}">
        {{player.position}}
    </span>
</li>