.player-positions {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    width: 600px;
    height: 528px;
    margin: 0 auto;
    justify-content: space-around;
    background: var(--green50);
}

.player-positions__keeper, .player-positions__att, .player-positions__def, .player-positions__def-mid, .player-positions__att-mid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

.outer-position-y {
    transform: translateY(15px);
}

.outer-position-x-l {
    transform: translateX(15px);
}
.outer-position-x-r {
    transform: translateX(-15px);
}

.outer-position-y-st {
    transform: translateY(-15px);
}



.keeper, .defence, .defensive-mid, .attacking-mid, .attack {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    position: relative;
}

/* keeper box outline */

.keeper {
    border: 2px solid var(--white);
    padding-left: 3rem;
    padding-right: 3rem;
    border-top-color: transparent;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}


.player-icon {
    font-size: 2rem;
    position: relative;
    filter: drop-shadow(2px 2px 2px var(--grey));
}

.player-icon-team-1 {
    background: var(--team-one-colors);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.player-icon-team-2 {
    background: var(--team-two-colors);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.player-icon-team-3 {
    background: var(--team-three-colors);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.player-icon-team-4 {
    background: var(--team-four-colors);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.player__position {
    position: absolute;
    top: 62.5px;
    font-size: 0.75rem;
    left: 50%;
    font-style: italic;
    color: var(--grey);
    transform: translateX(-50%);
}
