<div class="player-positions">
    <div class="player-positions__keeper">
        <div class="keeper">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position">GK</span>
        </div>
    </div>
    <div class="player-positions__def">
        <div class="defence outer-position-y">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position">DEF</span>
        </div>
        <div class="defence">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position">DEF</span>
        </div>
        <div class="defence">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position">DEF</span>
        </div>
        <div class="defence outer-position-y">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position ">DEF</span>
        </div>
    </div>
    <div class="player-positions__def-mid">
        <div class="defensive-mid outer-position-y">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position">MID</span>
        </div>
        <div class="defensive-mid">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position">MID</span>
        </div>
        <div class="defensive-mid outer-position-y">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position">MID</span>
        </div>
    </div>
    <div class="player-positions__att-mid">
        <div class="attacking-mid outer-position-x-l">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position">AM</span>
        </div>
        <div class="attacking-mid outer-position-x-r">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position">AM</span>
        </div>
    </div>
    <div class="player-positions__att">
        <div class="attack outer-position-y-st">
            <i class="fas fa-tshirt player-icon"></i>
            <span class="player__position">ST</span>
        </div>
    </div>
</div>