.match-setup {
    font-family: 'script';
    margin-top: 5rem;
    padding: var(--section-pad);
    background-color: var(--grey50);
    border-radius: var(--radius);
}

.match-setup__match-type div > input {
    display: none;
}

.match-setup__match-type div > label {
    border: 3px solid var(--white);
    border-radius: var(--radius);
    padding: 1rem 2rem;
    font-size: 1.25rem;
    color: var(--white);
    cursor: pointer;
}

.match-type__quick-match, 
.match-type__cup-run {

}

.match-type__selected {
    background-color: var(--green);
    color: var(--green);
}