<div class="match-setup">
    <div class="match-setup__match-type fx_x-a_y-c">
        <div class="match-type__quick-match">
            <label for="quick-match" class="quick-match__btn" 
                (click)="matchTypeSvcHandler(2);"
                [ngClass]="{'match-type__selected': leagueTypeValue === 2 }"
                >
                Quick Match
            </label>
            <input type="radio" name="match-type" id="quick-match" checked>
        </div>
        <div class="match-type__cup-run">
            <label for="cup-run" class="cup-run__btn" 
                (click)="matchTypeSvcHandler(4);"
                [ngClass]="{'match-type__selected': leagueTypeValue === 4 }"
                >
                Cup Run
            </label>
            <input type="radio" name="match-type" id="cup-run">
        </div>
    </div>
</div>