<div>
    <match-introductions (teamSheetArrEmission)="emitTeamSheetToMatchSim($event)">
    </match-introductions>
    <quick-match-sim [teamSheetArr]="teamSheetArr" [teams]="confirmedTeams" *ngIf="matchType === 2"
        [matchTimeMinutes]="matchMinutesVisual" [matchTimeSeconds]="matchSecondsVisual"
        (emitMatchInit)="matchTimeHandler($event)">
    </quick-match-sim>
    <cup-run-sim [teamSheetArr]="teamSheetArr" [teams]="confirmedTeams" *ngIf="matchType === 4"
        [matchTimeMinutes]="matchMinutesVisual" [matchTimeSeconds]="matchSecondsVisual"
        (emitMatchInit)="matchTimeHandler($event)" (emitTimeReset)="resetTimeHandler($event)">
    </cup-run-sim>
    <coin-toss-modal></coin-toss-modal>
</div>