.teams__team-sheets {
    display: flex;
    flex-direction: column;
    position: relative;
}

.team-sheet__team, .team-sheet__team {
    flex-direction: row-reverse;
    margin-bottom: 2rem;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin: var(--section-space);
}


/* DIFFERENT COLORS FOR EACH TEAM?? */
.club-title {
    position: absolute;
    top: -3rem;
    right: 0;
    font-size: 1.75rem;
    color: var(--red);
}

.toggle-view {
    margin-left: 1rem;
}

.team-sheet__options {
    position: absolute;
    left: 0;
    top: -2.5rem;
    height: 38px;
}

.team-sheet__options > span {
    padding: 0.25rem 0.75rem;
    margin-right: 1rem;
    border-radius: 8px;
    background-color: var(--grey);
    color: var(--white);
    cursor: pointer;
}

.team-sheet__options > span:hover {
    color: var(--white);
    background-color: var(--orange);
}

.player-listing {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 2rem;
    text-align: end;
    align-items: end;
}

.player-listing>div>ul {
    position: relative;
    width: 220px;
}

.player-listing>div>ul>li {
    padding: 0.25rem 0;
    padding-right: 1rem;
    margin-bottom: 0.25rem;
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 8px;
}

.player__sub {
    border: 2px solid var(--purple) !important;
    color: var(--purple) !important;
}

.player-listing__position,
.player-listing__flag {
    position: absolute;
    top: 7px;
}

.player-listing__flag {
    font-size: 1.25rem;
    left: 1rem;
    z-index: 5;
    text-shadow: 0px 0px 2px var(--grey);
}

.player-listing>div>ul>li:hover+.player-listing__flag {
    display: inline;
}

.substitute__key {
    margin-top: .25rem;
    display: block;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 9px;
    background-color: var(--purple);
    color: var(--white);
}


.captain {
    position: absolute;
    padding: 0.25rem 1rem;
    color: var(--white);
    background-color: var(--red);
    bottom: -3rem;
    left: 0;
    border-radius: 9px;
}