<div class="teams__team-sheets" *ngIf="matchSetupSVC.leagueTypeValue">
    <div class="team-sheets__quick-match">
        <div class="team-sheet__team fx_x-b">
            <h2 class="club-title">{{matchSetupSVC.generatedTeamsArray[0]}}</h2>
            <div class="team-sheet__options">
                <span>
                    Assign Captain
                </span>
                <span (click)="toggleTeamListHandler(viewTeamOneSubs, 1)">
                    View {{viewTeamOneSubs ? 'Starters' : 'Subs'}}
                </span>
            </div>
            <div class="player-listing">
                <div *ngIf="!viewTeamOneSubs">
                    <ul id="team-one-list" *ngFor="let player of matchSetupSVC.team1[0]">
                        <li>{{player.name}}</li>
                        <span class="player-listing__flag">{{player.country.flag}}</span>
                    </ul>
                </div>
                <div *ngIf="viewTeamOneSubs">
                    <ul id="team-one-list" *ngFor="let player of matchSetupSVC.team1[1]">
                        <li class="player__sub">{{player.name}}</li>
                        <span class="player-listing__position">{{player.position}}</span>
                        <span class="player-listing__flag">{{player.country.flag}}</span>
                    </ul>
                    <span class="substitute__key">Substitutes</span>
                </div>
            </div>
            <div class="player-positions">
                <div class="player-positions__keeper">
                    <div class="keeper">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">GK</span>
                    </div>
                </div>
                <div class="player-positions__def">
                    <div class="defence">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DEF</span>
                    </div>
                    <div class="defence">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DEF</span>
                    </div>
                    <div class="defence">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DEF</span>
                    </div>
                    <div class="defence">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DEF</span>
                    </div>
                </div>
                <div class="player-positions__def-mid">
                    <div class="defensive-mid">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DM</span>
                    </div>
                    <div class="defensive-mid">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DM</span>
                    </div>
                    <div class="defensive-mid">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DM</span>
                    </div>
                </div>
                <div class="player-positions__att-mid">
                    <div class="attacking-mid">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">AM</span>
                    </div>
                    <div class="attacking-mid">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">AM</span>
                    </div>
                </div>
                <div class="player-positions__att">
                    <div class="attack">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">ST</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-sheet__team fx_x-b">
            <h2 class="club-title">{{matchSetupSVC.generatedTeamsArray[1]}}</h2>
            <div class="team-sheet__options">
                <span>
                    Assign Captain
                </span>
                <span (click)="toggleTeamListHandler(viewTeamTwoSubs, 2)">
                    View Subs
                </span>
            </div>
            <div class="player-listing">
                <div *ngIf="!viewTeamTwoSubs">
                    <ul id="team-two-list" *ngFor="let player of matchSetupSVC.team2[0]">
                        <li>{{player.name}}</li>
                        <span class="player-listing__position">{{player.position}}</span>
                        <span class="player-listing__flag">{{player.country.flag}}</span>
                    </ul>
                </div>
                <div *ngIf="viewTeamTwoSubs">
                    <ul id="team-two-list" *ngFor="let player of matchSetupSVC.team2[1]">
                        <li>{{player.name}}</li>
                        <span class="player-listing__position">{{player.position}}</span>
                        <span class="player-listing__flag">{{player.country.flag}}</span>
                    </ul>
                    <span class="substitute__key">Substitutes</span>
                </div>
            </div>
            <div class="player-positions">
                <div class="player-positions__keeper">
                    <div class="keeper">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">GK</span>
                    </div>
                </div>
                <div class="player-positions__def">
                    <div class="defence">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DEF</span>
                    </div>
                    <div class="defence">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DEF</span>
                    </div>
                    <div class="defence">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DEF</span>
                    </div>
                    <div class="defence">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DEF</span>
                    </div>
                </div>
                <div class="player-positions__def-mid">
                    <div class="defensive-mid">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DM</span>
                    </div>
                    <div class="defensive-mid">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DM</span>
                    </div>
                    <div class="defensive-mid">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">DM</span>
                    </div>
                </div>
                <div class="player-positions__att-mid">
                    <div class="attacking-mid">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">AM</span>
                    </div>
                </div>
                <div class="player-positions__att">
                    <div class="attack">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">CF</span>
                    </div>
                    <div class="attack">
                        <i class="fas fa-user-circle player-icon"></i>
                        <span class="player__position">ST</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="matchSetupSVC.leagueTypeValue === 4">
        <div class="team-sheets__quick-match">
            <div class="team-sheet__team fx_x-b">
                <h2 class="club-title">{{matchSetupSVC.generatedTeamsArray[2]}}</h2>
                <div class="team-sheet__options">
                    <span>
                        Assign Captain
                    </span>
                    <span (click)="toggleTeamListHandler(viewTeamThreeSubs, 3)">
                        View Subs
                    </span>
                </div>
                <div class="player-listing">
                    <div *ngIf="!viewTeamThreeSubs">
                        <ul id="team-three-list" *ngFor="let player of matchSetupSVC.team3[0]">
                            <li>{{player.name}}</li>
                            <span class="player-listing__position">{{player.position}}</span>
                            <span class="player-listing__flag">{{player.country.flag}}</span>
                        </ul>
                    </div>
                    <div *ngIf="viewTeamThreeSubs">
                        <ul id="team-three-list" *ngFor="let player of matchSetupSVC.team3[1]">
                            <li>{{player.name}}</li>
                            <span class="player-listing__position">{{player.position}}</span>
                            <span class="player-listing__flag">{{player.country.flag}}</span>
                        </ul>
                        <span class="substitute__key">Substitutes</span>
                    </div>
                </div>
                <div class="player-positions">
                    <div class="player-positions__keeper">
                        <div class="keeper">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">GK</span>
                        </div>
                    </div>
                    <div class="player-positions__def">
                        <div class="defence">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span>DEF class="player__position"</span>
                        </div>
                        <div class="defence">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span>DEF class="player__position"</span>
                        </div>
                        <div class="defence">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span>DEF class="player__position"</span>
                        </div>
                        <div class="defence">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span>DEF class="player__position"</span>
                        </div>
                    </div>
                    <div class="player-positions__def-mid">
                        <div class="defensive-mid">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">DM</span>
                        </div>
                        <div class="defensive-mid">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">DM</span>
                        </div>
                        <div class="defensive-mid">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">DM</span>
                        </div>
                    </div>
                    <div class="player-positions__att-mid">
                        <div class="attacking-mid">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">AM</span>
                        </div>
                        <div class="attacking-mid">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">AM</span>
                        </div>
                    </div>
                    <div class="player-positions__att">
                        <div class="attack">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">ST</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-sheet__team fx_x-b">
                <h2 class="club-title">{{matchSetupSVC.generatedTeamsArray[3]}}</h2>
                <div class="team-sheet__options">
                    <span>
                        Assign Captain
                    </span>
                    <span (click)="toggleTeamListHandler(viewTeamFourSubs, 4)">
                        View Subs
                    </span>
                </div>
                <div class="player-listing">
                    <div *ngIf="!viewTeamFourSubs">
                        <ul id="team-four-list" *ngFor="let player of matchSetupSVC.team4[0]">
                            <li>{{player.name}}</li>
                            <span class="player-listing__position">{{player.position}}</span>
                            <span class="player-listing__flag">{{player.country.flag}}</span>
                        </ul>
                    </div>
                    <div *ngIf="viewTeamFourSubs">
                        <ul id="team-four-list" *ngFor="let player of matchSetupSVC.team4[1]">
                            <li>{{player.name}}</li>
                            <span class="player-listing__position">{{player.position}}</span>
                            <span class="player-listing__flag">{{player.country.flag}}</span>
                        </ul>
                        <span class="substitute__key">Substitutes</span>
                    </div>
                </div>
                <div class="player-positions">
                    <div class="player-positions__keeper">
                        <div class="keeper">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">GK</span>
                        </div>
                    </div>
                    <div class="player-positions__def">
                        <div class="defence">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span>DEF class="player__position"</span>
                        </div>
                        <div class="defence">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span>DEF class="player__position"</span>
                        </div>
                        <div class="defence">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span>DEF class="player__position"</span>
                        </div>
                        <div class="defence">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span>DEF class="player__position"</span>
                        </div>
                    </div>
                    <div class="player-positions__def-mid">
                        <div class="defensive-mid">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">DM</span>
                        </div>
                        <div class="defensive-mid">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">DM</span>
                        </div>
                        <div class="defensive-mid">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">DM</span>
                        </div>
                    </div>
                    <div class="player-positions__att-mid">
                        <div class="attacking-mid">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">AM</span>
                        </div>
                    </div>
                    <div class="player-positions__att">
                        <div class="attack">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">CF</span>
                        </div>
                        <div class="attack">
                            <i class="fas fa-user-circle player-icon"></i>
                            <span class="player__position">ST</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>