.teams__team-sheets {
    display: flex;
    flex-direction: column;
    position: relative;
}

.team-sheet__team, .team-sheet__team {
    flex-direction: row-reverse;
    margin-bottom: 2rem;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin: var(--section-space)
}


/* DIFFERENT COLORS FOR EACH TEAM?? */
.club-title {
    position: absolute;
    top: -3rem;
    right: 0;
    font-size: 1.75rem;
    color: var(--orange);
}

.team-sheet__options {
    position: absolute;
    left: 0;
    top: -2.5rem;
    height: 38px;
}

.team-sheet__options > span{
    padding: 0.25rem 0.75rem;
    margin-right: 1rem;
    border-radius: 8px;
    border: 2px solid var(--orange);
    color: var(--orange);
    cursor: pointer;
    /* box-shadow: 3.5px 3.5px 0px var(--grey); */
}

.player-listing {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 2rem;
    text-align: end;
    align-items: end;
}

.player-listing>ul {
    position: relative;
    width: 220px;
}

.player-listing>ul>li {
    padding: 0.25rem 0;
    padding-right: 1rem;
    margin-bottom: .25rem;
    color: var(--white);
    border-radius: 8px;
    border: 2px solid var(--grey);
    color: var(--grey);
}

/* .player-listing>ul>li:hover {
    background-color: var(--grey50);
} */

.player-listing__flag {
    /* display: none; */
    font-size: 1.25rem;
    position: absolute;
    top: 7px;
    left: 1rem;
    z-index: 5;
}

.player-listing>ul>li:hover+.player-listing__flag {
    display: inline;
}

.player-positions, .player-positions {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--green50);
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 7px 7px 0px var(--grey);
    background-image: var(--texture);
}

.player-positions__keeper, .player-positions__att, .player-positions__def, .player-positions__def-mid, .player-positions__att-mid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.keeper, .defence, .defensive-mid, .attacking-mid, .attack {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    position: relative;
}

/* keeper box outline */

.keeper {
    border: 3px solid var(--grey50);
    padding-left: 3rem;
    padding-right: 3rem;
    border-top-color: transparent;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.player-icon {
    font-size: 2rem;
    color: var(--grey);
}