<div>
    <guide></guide>
    <match-type-select (captaincyStringReset)="matchTeamsDisplay.unassignCaptainKeyString()"></match-type-select>
    <match-teams-display #matchTeamsDisplay></match-teams-display>
    <div class="match-setup__notice fx_x-c_y-c"
        *ngIf="(matchSetupSVC.leagueTypeValue === 2 && (!matchTeamsDisplay.teamOneCaptain || !matchTeamsDisplay.teamTwoCaptain)) 
        || 
        (matchSetupSVC.leagueTypeValue === 4 && 
        (!matchTeamsDisplay.teamOneCaptain 
        || !matchTeamsDisplay.teamTwoCaptain 
        || !matchTeamsDisplay.teamThreeCaptain 
        || !matchTeamsDisplay.teamFourCaptain))">
        <svg xmlns="http://www.w3.org/2000/svg" class="notice__icon" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <p class="notice__text">Please ensure that captaincies have been assigned before being able to continue.</p>
    </div>
    <!-- Link below is generated according to selected type and captaincy values -->
    <a routerLink="/league-play"
        *ngIf="matchSetupSVC.leagueTypeValue === 2 && 
        (matchTeamsDisplay.teamOneCaptain 
        && matchTeamsDisplay.teamTwoCaptain)"
        class="match-setup__progress-btn">
        Match Day
        <i class="fas fa-chevron-right"></i>
    </a>
    <a routerLink="/league-play"
        *ngIf="matchSetupSVC.leagueTypeValue === 4 && 
        (matchTeamsDisplay.teamOneCaptain 
        && matchTeamsDisplay.teamTwoCaptain 
        && matchTeamsDisplay.teamThreeCaptain 
        && matchTeamsDisplay.teamFourCaptain)"
        class="match-setup__progress-btn">
        Match Day
        <i class="fas fa-chevron-right"></i>
    </a>
</div>