<div>
    <match-type-select (captaincyStringReset)="matchTeamsDisplay.unassignCaptainKeyString()"></match-type-select>
    <match-teams-display #matchTeamsDisplay></match-teams-display>
    <!-- Link below is generated according to selected type and captaincy values -->
    <a routerLink="/league-play" *ngIf="matchSetupSVC.leagueTypeValue === 2 && (matchTeamsDisplay.teamOneCaptain && matchTeamsDisplay.teamTwoCaptain)"  class="match-setup__progress-btn">
        Match Day
        <i class="fas fa-chevron-right"></i>
    </a>
    <a routerLink="/league-play" *ngIf="matchSetupSVC.leagueTypeValue === 4 && (matchTeamsDisplay.teamOneCaptain && matchTeamsDisplay.teamTwoCaptain && matchTeamsDisplay.teamThreeCaptain && matchTeamsDisplay.teamFourCaptain)"  class="match-setup__progress-btn">
        Match Day
        <i class="fas fa-chevron-right"></i>
    </a>
</div>