.nav__nav {
    padding: 3rem 8rem;
    padding-bottom: 0;
    position: relative;
}

.nav__title > a > h1 {
    font-size: 4rem;
    font-family: title;
    color: var(--green);
}

.nav__title-mobile > a > h1 {
    font-size: 2.75rem;
    font-family: title;
    color: var(--green);
}

.nav__nav-mobile {
  padding: 3rem 2rem;
  padding-bottom: 0;
  position: relative;
}
