/* You can add global styles to this file, and also import other style files */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--bk);
    max-width: var(--max-width);
    margin: 0 auto;
}

h2, h3, h4, li, p, span, label {
    font-family: 'script';
}

:root {
    /* Colors */
    --blue: #2C6C9D;
    --green: #27a770 ;
    --green50: #31d80865;
    --yellow: #F4A439;
    --orange: #F46E39;
    --red: #ED3744;
    --purple: #BE2C88;
    --white: #fff;
    --grey: #646464;
    --grey50: #50484799;
    /* Technicals */
    --radius: 5px;
    --section-space: 8rem 2rem 0 2rem;
    --inner-section-space-y: 4rem 0;
    --max-width: 800px;
    --texture: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.51' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

ul {
    list-style: none;
}

.fx_x-c {
    display: flex;
    justify-content: center;
}
.fx_x-b {
    display: flex;
    justify-content: space-between;
}

.fx_x-b_y-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fx_x-a_y-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@font-face {
    font-family: 'title';
    src: url('./assets/font/Bungee_Shade/BungeeShade-Regular.ttf');
}

@font-face {
    font-family: 'script';
    src: url('./assets/font/Nunito/Nunito-Regular.ttf');
}