<section class="match-simulation__container">
    <div class="match-simulation__current-score">0 : 0</div>  
    <div class="match-simulation__team-sections fx_x-b_y-c">
        <div class="team-sections__team-one">
            <h3 class="team-one__name">{{teams[0]}}</h3>
            <ul class="team-one__starting-11">
                <li *ngFor="let player of this.teamOneStarters" class="starter" [ngClass]="{'captain': player.captain }">
                    <span class="starter__position">
                        {{player.position}}
                    </span>
                    {{player.name}}
                </li>
            </ul>
            <p class="team-one__subs-title">Substitutes</p>
            <ul class="team-one__subs">
                <li *ngFor="let sub of this.teamOneSubs" class="sub">
                    <span class="sub__position">
                        {{sub.position}}
                    </span>
                    {{sub.name}}
                </li>
            </ul>
        </div>
        <div class="team-sections__team-two">
            <h3 class="team-two__name">{{teams[1]}}</h3>
            <ul class="team-two__starting-11">
                <li *ngFor="let player of this.teamTwoStarters" class="starter" [ngClass]="{'captain': player.captain }">
                    {{player.name}}
                    <span class="starter__position right">
                        {{player.position}}
                    </span>
                </li>
            </ul>
            <p class="team-two__subs-title">Substitutes</p>
            <ul class="team-two__subs">
                <li *ngFor="let sub of this.teamTwoSubs" class="sub">
                    {{sub.name}}
                    <span class="sub__position right">
                        {{sub.position}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- <div class="sim-results__container fx_x-b_y-c">
    <div class="sim-results__section-one">
        <span class="title">Possession</span>
        <div class="section-one__possession fx_x-b_y-c">
            <span class="possession__team-one">0 %</span>
            <span class="possession__team-two">% 0</span>
        </div>
        <span class="title">Shots</span>
        <div class="section-one__shots fx_x-b_y-c">
            <span class="shots__team-one">0</span>
            <span class="shots__team-two">0</span>
        </div>
        <span class="title">Shots on Target</span>
        <div class="section-one__shots-on-target fx_x-b_y-c">
            <span class="shots-on-target__team-one">0</span>
            <span class="shots-on-target__team-two">0</span>
        </div>
        <span class="title">Total passes</span>
        <div class="section-one__passes fx_x-b_y-c">
            <span class="passes__team-one">0</span>
            <span class="passes__team-two">0</span>
        </div>
    </div>
    <div class="sim-results__section-two">
        <span class="title">Yellow Cards</span>
        <div class="section-two__yellow-cards fx_x-b_y-c">
            <span class="yellow-cards__team-one">0</span>
            <span class="yellow-cards__team-two">0</span>
        </div>
        <span class="title">Red Cards</span>
        <div class="section-two__red-cards fx_x-b_y-c">
            <span class="red-cards__team-one">0</span>
            <span class="red-cards__team-two">0</span>
        </div>
        <span class="title">Tackles</span>
        <div class="section-two__tackles fx_x-b_y-c">
            <span class="tackles__team-one">0</span>
            <span class="tackles__team-two">0</span>
        </div>
        <span class="title">Corners</span>
        <div class="section-two__corners fx_x-b_y-c">
            <span class="corners__team-one">0</span>
            <span class="corners__team-two">0</span>
        </div>
    </div>
</div> -->