<div class="coin-toss-component fx_x-c_y-c" *coinToss="false; let teams = availableTeams;">
    <div class="coin-toss__container">
        <div class="coin-toss__teams">
            <h2 class="team">{{teams[0]}}</h2>
            <span>vs</span>
            <h2 class="team">{{teams[1]}}</h2>
        </div>
        <p class="coin-toss__desc">Flip the coin to see who beggins the game with the advantage of possession.</p>
        <button class="coin-toss__init fx_x-b">
            Flip Coin!
        </button>
        <span class="coin-toss__result fx_x-b">

        </span>
    </div>
</div>